body{
  height: 100%;
}

.main{
  padding: 100px;
}
.bg-grey{
  min-height: 100vh;
  background-color: rgb(30,41,55);
 
}
.country{
  
  
  background-color: rgb(30,41,55);
  padding: 140px;
  
}
.add-padding{
  padding-top: 40px;
}
.add-margin{
  padding-top: 10px;
  padding-bottom: 30px;
}
.center{
  text-align: center;
}

.big{
  font-size: large;
}
.bg-blac{
  background-color: rgb(41,54,68);
}

.adjust-padding{
  padding: 00px;
  padding-bottom: 0px;
}