body,html{
  height: 100%;
  width: 100%;
  background-color: rgb(30,41,55);
}

.main{
  padding: 10%;
}
.bg-grey{
  
  background-color: rgb(30,41,55);
 
}
.wid{
  width: 50%;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

.searchField{
  background-color: rgb(41,54,68);
  color: white;
}
.add-padding{
  padding-top: 40px;
}
.add-margin{
  padding-top: 1%;
  padding-bottom: 2%;
}
.center{
  text-align: center;
}

.big{
  font-size: large;
}
.bg-blac{
  background-color: rgb(41,54,68);
}

.adjust-padding{
  padding: 00px;
  padding-bottom: 0px;
}

.header {
  width: 100%;
  height: 70px;
  line-height: 70px;
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  background: rgb(41,54,68);
  z-index: 11;
}

.header h5 {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 1.3rem;
  color: #fff;
}

.searchCountry{
  position: fixed;
  z-index: 11;
  top: 70px;
  width: 100%;
  background: rgb(30,41,55);
  padding-top: 20px;
}